<div class="row">
  <div class="col-md-12">
    <form [formGroup]='userLoginForm' (ngSubmit)='onLogin()'>
      <h1> Login </h1>

      <fieldset>

        <label for="email">Email:</label>
        <input type="email" id="mail" name="user_email" formControlName='email' required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password" formControlName='password' required>

      </fieldset>
      <button type="submit" [disabled]="!userLoginForm.valid">Login</button>
    </form>
  </div>
</div>
